/* A font by Jos Buivenga (exljbris) -> http://www.exljbris.nl */
@font-face {
	font-family: "Calluna-Exljbris";
	src: url(/media/fonts/Calluna-Regular.otf) format("opentype");
}
/* fix for "jumpy" navigation with scrollbar */
html {
	overflow-y: scroll;
}

html, body {
	background-color: #fbfbfb;
	color: #111111;
	font-size: 16px;
	font-family: "Palatino Linotype", Calluna-Exljbris, Georgia, "Times New Roman", Times, serif; 
}

code { 
	font-size: 13px; 
	color: #990033; 
	padding: 2px; 
	font-family: Monaco, Menlo, Consolas, "Courier New", monospace;
}

h1, h2, h3, h4, h5, h6 {
	font-weight: normal;
	line-height: normal;
}

h1 { font-size: 32px;}

h2 { font-size: 24px; }

h3 { font-size: 20px; }

h4 { font-size: 12px; }

h5 { font-size: 8px; }

a, a:hover, a:active {
	color: #990033;
}

blockquote {
	color: #656565;
}

blockquote p {
	font-size: 16px;
	line-height: 20px;
	margin-bottom: 10px;
}


#navigation {
	text-align: center
}

.list-title {
	display: inline;
	font-size: 16px;
	font-weight: normal;
}
.list-info {
	font-style: italic;
	color: #666;
}

.post-title {
	font-size: 1.5em;
	font-weight: normal;
	line-height: normal;
	margin: 0;
}

.post-info {
	color: #666;
	font-style: italic;
	margin-bottom: 1.5em;
}

.post-comments {
	margin-top: 1.5em;
}

footer {
	color: #666;
	font-size: 12px;
	text-align: center;
}
